//
// File Description:
//
// Logic is similar to the colors tokens
//
// Global tokens: they should not be used directly
// $-ff-sans: system-ui, sans-serif;
// $-ff-serif: serif;
//
// Contextual tokens: these constants can be used directly
// $font-family-base: $-ff-sans;
// $font-family-accent: $-ff-sans;
//
// $font-sizes map is used to generate css variables
// in base/_root.scss in such format: --fs-#{$size-name}: #{$size-value}
//
// Then put css variables inside sass constants:
// Example: $font-size-900: var(--fs-900)
//
// Then if we have:
//
// p {
//   font-size: $font-size-800
// }
//
// Then, this <p> element will have rem(48) size on large screen
// and rem(36) size on small screen
//
// You can add additional breakpoints, if you have such need
//
//

$-ff-sans: system-ui, sans-serif;
$-ff-serif: serif;

$font-family-base: $-ff-sans;
$font-family-accent: $-ff-sans;

$font-sizes: (
  "large": (
    "900": rem(60),
    "800": rem(48),
    "700": rem(28),
    "600": rem(21),
    "500": rem(18),
    "400": rem(16),
    "300": rem(14),
    "200": rem(12),
  ),
  "small": (
    "900": rem(60),
    "800": rem(36),
    "700": rem(28),
    "600": rem(18),
    "500": rem(18),
    "400": rem(16),
    "300": rem(14),
    "200": rem(12),
  ),
);

$font-size-900: var(--fs-900);
$font-size-800: var(--fs-800);
$font-size-700: var(--fs-700);
$font-size-600: var(--fs-600);
$font-size-500: var(--fs-500);
$font-size-400: var(--fs-400);
$font-size-300: var(--fs-300);

$font-weight-default: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;
